{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edukid</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'sign/css/sign.css' %}">
	<script srcc="{% static 'sign/js/sign-in.js' %}"></script>
</head>
<body>
	<div class="container">
		<header></header>
		<section>
			<form id="registration-form" class="form-container" method="post">
				{% csrf_token %}
				<div class="logo">
					<a href="/">Edukid</a>
				</div>
				<h1 class="form-title">Регистрация</h1>
				{% for f in form%}
				<div class="form-field">
					<div class="form-field-title">{{f.label}}</div>
					<div class="form-field-input">
						<img src="">
						{{f}}
					</div>
					<div class="form-error">{{f.errors}}</div>
				</div>	
				{%endfor%}
				<!-- <div class="form-fields">
					<div class="userType">
						<label>
							<input type="radio" name="userType">
							<span>Ученик</span>
						</label>
						<label style="flex-grow: 1; text-align: center;">
							<input type="radio" name="userType">
							<span>Учитель</span>
						</label>
						<label>
							<input type="radio" name="userType">
							<span>Родитель</span>
						</label>
					</div>
					<div class="form-field">
						<div class="form-field-title">Имя</div>
						<div class="form-field-input">
							<img src="">
							<input class="for-input" type="text" id="name" required>
						</div>
					</div>	
					<div class="form-field">
						<div class="form-field-title">Фамилия</div>
						<div class="form-field-input">
							<img src="">
							<input class="for-input" type="text" id="surname" required>
						</div>
					</div>	
					<div class="form-field">
						<div class="form-field-title">Отчество</div>
						<div class="form-field-input">
							<img src="">
							<input class="for-input" type="text" id="fathers_name" required>
						</div>
					</div>	
					<div class="form-field">
						<div class="form-field-title">E-MAIL</div>
						<div class="form-field-input">
							<img src="">
							<input class="for-input" type="email" id="email" required>
						</div>
					</div>	
					<div class="form-field">
						<div class="form-field-title">Пароль</div>
						<div class="form-field-input">
							<img src="">
							<input type="password" id="password" required>
							<img src="">
						</div>
					</div>	
					<div class="form-field">
						<div class="form-field-title">Повторите пароль</div>
						<div class="form-field-input">
							<img src="">
							<input type="password" id="repeat-passowrd" required>
							<img src="">
						</div>
					</div>					
				</div> -->
				<div class="sign-btn">
					<input class="submit-sign-form" type="submit" id="submitBtn" value="Зарегистрироваться">
				</div>
				<div class="registration">
					<span>Уже есть учетная запись?</span><br>
					<a href="/login">Войти</a>
				</div>
			</form>
		</section>
		<footer></footer>
	</div>
</body>
</html>