{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Edukid</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'my_classes/css/my_classes.css' %}">
	<script src="{% static 'my_classes/js/script.js' %}"></script>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="header_content container">
				<nav class="menu_body">
					<div class="burger">
						<div class="header__burger" id="burger">
							<span></span>
							<div class="header__burger-menu">
								<ul class="burger-list">
									<li>
										<img src="{% static 'main/images/svg/burger1.svg' %}">
										<a href="">Мой класс</a>
									</li>
									<li>
										<img src="{% static 'main/images/svg/burger2.svg' %}">
										<a href="">Мои тетради</a>
									</li>
									<li>
										<img src="{% static 'main/images/svg/burger3.svg' %}">
										<a href="">Задания</a>
									</li>
									<li>
										<img src="{% static 'main/images/svg/burger4.svg' %}">
										<a href="/progress">Успеваемость</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="logo">
						<a href="/home">Edukid</a>
					</div>
					<ul class="menu_list">
						<li><a href="" class="menu_link">Мой класс</a></li>
						<li><a href="" class="menu_link">Мои тетради</a></li>
						<li><a href="" class="menu_link">Задания</a></li>
						<li><a href="/progress" class="menu_link">Успеваемость</a></li>
					</ul>
					<div class="sign-button">
						<a class="sign-btn" href="profile"><button id="sign-btn">Профиль</button></a>
						<img src="{% static 'my_classes/images/jpg/profile-img-ex.jpg' %}">
					</div>
				</nav>
			</div>
		</header>
		<section>
			<div class="app-container container">
				<h1>Мои классы</h1>
				<div class="class-box">
					<button class="btn-in-profile" id="class-btn">Класс 4В<img src="{% static 'my_classes/images/svg/arrow.svg' %}"></button>
					<div class="profile-box">
						<div class="student-box">
							<div class="student-img">
								<img src="{% static 'my_classes/images/jpg/profile-img-ex.jpg' %}">
							</div>
							<div class="student-name">Петрова Александра</div>
							<div class="student-delete">
								<img src="{% static 'my_classes/images/svg/delete.svg' %}">
							</div>
						</div>
						<div class="student-box">
							<div class="student-img">
								<img src="{% static 'my_classes/images/jpg/profile-img-ex.jpg' %}">
							</div>
							<div class="student-name">Петрова Александра</div>
							<div class="student-delete">
								<img src="{% static 'my_classes/images/svg/delete.svg' %}">
							</div>
						</div>
						<div class="student-box">
							<div class="student-img">
								<img src="{% static 'my_classes/images/jpg/profile-img-ex.jpg' %}">
							</div>
							<div class="student-name">Петрова Александра</div>
							<div class="student-delete">
								<img src="{% static 'my_classes/images/svg/delete.svg' %}">
							</div>
						</div>
						<div class="student-add">
							<span>Добавить ученика:</span>
							<input type="text" name="" title="Введите код ребенка">
							<button class="btn-in-profile"><img class="plus-img" src="{% static 'my_classes/images/svg/plus.svg' %}">Добавить</button>
						</div>
					</div>
				</div>
				<div class="class-box">
					<button class="btn-in-profile" id="class-btn">Класс 5А<img src="{% static 'my_classes/images/svg/arrow.svg' %}"></button>
					<div class="profile-box">
						<div class="student-box">
							<div class="student-img">
								<img src="{% static 'my_classes/images/jpg/profile-img-ex.jpg' %}">
							</div>
							<div class="student-name">Петрова Александра</div>
							<div class="student-delete">
								<img src="{% static 'my_classes/images/svg/delete.svg' %}">
							</div>
						</div>
						<div class="student-box">
							<div class="student-img">
								<img src="{% static 'my_classes/images/jpg/profile-img-ex.jpg' %}">
							</div>
							<div class="student-name">Петрова Александра</div>
							<div class="student-delete">
								<img src="{% static 'my_classes/images/svg/delete.svg' %}">
							</div>
						</div>
						<div class="student-box">
							<div class="student-img">
								<img src="{% static 'my_classes/images/jpg/profile-img-ex.jpg' %}">
							</div>
							<div class="student-name">Петрова Александра</div>
							<div class="student-delete">
								<img src="{% static 'my_classes/images/svg/delete.svg' %}">
							</div>
						</div>
						<div class="student-add">
							<span>Добавить ученика:</span>
							<input type="text" name="" title="Введите код ребенка">
							<button class="btn-in-profile"><img src="{% static 'my_classes/images/svg/plus.svg' %}">Добавить</button>
						</div>
					</div>
				</div>
				<div class="class-box">
					<button class="btn-in-profile" id="class-btn"><img src="{% static 'my_classes/images/svg/plus.svg' %}">Добавить класс</button>
				</div>
			</div>
		</section>
	</div>

</body>
</html>